.container {
  display: flex;
  position: relative;
}

.container img {
  width: 200px;
  display: block;
 
 top: 2px;
}

.container ul {
  display: flex;
  gap: 4rem;
  list-style: none;
}

.container a {
  color: white;
  text-decoration: none;
}

.container a:hover {
  color: rgb(143, 3, 3);
  font-weight: bolder;
}
.container a:active {
  color: rgb(118, 2, 2);
  font-weight: bolder;
  text-decoration: underline;
}

.container select {
  color: red;
  font-weight: bold;
  font-size: med /*  */ ium;
  background-color: rgb(255, 255, 255);
  padding: 0.4rem 2rem;
  border-radius: 1rem;
}

.foodButton {
  position:absolute;
  top: 10px;
  background-color: transparent;
  padding: 10px;
  font-size: large;
  border-radius: 20px;
  border-color: rgba(255, 0, 0, 0.288);
  color: white;
}

.foodButton:hover{
  background-color: rgb(143, 3, 3);
  padding: 15px;
}
.foodButton:hover{
  background-color: rgb(143, 3, 3);
}
.foodButton:active{
  background-color: rgb(75, 0, 0);
}

.container select option {
  color: red;
  font-weight: 700;
}

.cart {
  position: absolute;
  right: 5rem;
}
.buttonIcon {
  background-color: transparent;
  box-shadow: none;
  border-color: transparent;
}

/* Navbar.module.css */

dialog {
  position: absolute;
  top: 100px;
  z-index: 20;
  border-radius: 20px;
  padding: 50px;
  border-color: aliceblue;
}

.closeModal{
border-color: transparent;
background-color: transparent;
box-shadow: none;
font-size: x-large;
color: rgba(27, 27, 27, 0.608);
position: absolute;
left: 550px;
top: 18px;

}

.foodModal {
  display: grid;
  height: max-content;
  grid-gap: 20px;
  background-color: rgb(255, 255, 255);
  grid-template-columns: repeat(2, 1fr);
  border-radius: 20px;
  box-shadow: red;
}

.foodModal button {
  padding: 20px;
  border-radius: 20px;
  border-color: white;
}
.foodModal button:hover {
  padding: 20px;
  border-radius: 20px;
  border-color: rgb(226, 57, 133);
}

.foodModal img {
  width: 200px;
  height: 170px;
}
